
<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/auroral.css') }}">
</header>
<head>
	<!-- Info meta tags, important for social media + SEO -->
	<title>Pea</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
				  <div class="auroral-northern"></div>
		
	<div class="container">
		<div class="logo">
		</div>
		<div class="logo">

			<img src="{{ url_for('static', filename='img/pea.png') }}" alt="Pea Logo" style="width:200px;height:300px">
		</div>
		<div class="items">
			<a href="#" class="item forums">
			<div>
				<img src="{{ url_for('static', filename='img/chats.png') }}" alt="Chat Icon" class="img">
				<p class="title">Tērzētuve</p>
				<p class="subtitle">saziņai ar apmeklētajiem</p>
			</div>
			</a>

			<a href="#" class="item store">
			<div>
				<img src="{{ url_for('static', filename='img/forum.png') }}" alt="Forum Icon" class="img">
				<p class="title">Forums</p>
				<p class="subtitle">izveidotie darbi</p>
			</div>
			</a>
			
			<a href="#" class="item vote">
			<div>
				<img src="{{ url_for('static', filename='img/discord.png') }}" alt="Discord Icon" class="img">
				<p class="title">Discord</p>
				<p class="subtitle">mūsu discord serveris</p>
			</div>
			
			</a>
		</div>
		<div class="container">
			<div class="logo">
				<p class="title">Šī mājaslapa ir radīta, lai darbu atveidotu vienā datnē.</p>
				<p class="subtitle"> Veidotāji @ValterHuns un @rtrumars</p>
	
			</div>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='javascript/main.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='javascript/firefly.js') }}" type="text/javascript"></script>
</body>
</html>
